Repository StreisandEffect/streisand, pull requests merged in 2018-06, with the labels that each got.

#1360 Make more clear that you only want/only can have stunnel with OpenVPN
  playbooks/customize.yml
Labels: area/provisioning, kind/cleanup

#1363 Clarify OpenVPN client certificate re-use
  playbooks/roles/openvpn/templates/instructions-fr.md.j2
  playbooks/roles/openvpn/templates/instructions.md.j2
Labels: area/openvpn, kind/docs, kind/update

#1368 Ansible 2.5.4 works OK; roll back pycurl version
  requirements.txt
Labels: area/python-deps, kind/update

#1362 Wireguard Cient installation instructions for macOS
  playbooks/roles/wireguard/templates/instructions.md.j2
Labels: area/wireguard, client/macos, kind/docs, status/revisions-needed

#1369 Generate OpenWrt WireGuard profiles and instructions
  playbooks/roles/wireguard/tasks/docs.yml
  playbooks/roles/wireguard/tasks/main.yml
  playbooks/roles/wireguard/templates/client-openwrt.txt.j2
  playbooks/roles/wireguard/templates/instructions.md.j2
Labels: area/wireguard, client/openwrt, kind/client

#1366 Adds gcp west europe netherlands
  global_vars/noninteractive/google-site.yml
  playbooks/google.yml
Labels: area/provisioning, kind/update, provider/gce

#1391 Ensure tinyproxy can write PID file
  playbooks/roles/tinyproxy/tasks/main.yml
  playbooks/roles/tinyproxy/templates/tinyproxy.conf.j2
  playbooks/roles/tinyproxy/templates/tinyproxy.service.j2
  playbooks/roles/tinyproxy/templates/tinyproxytmp.conf.j2
  playbooks/roles/tinyproxy/vars/main.yml
Labels: area/tinyproxy, kind/bug
