Repository StreisandEffect/streisand, pull requests merged in 2018-04, with the labels that each got.

#1250 Autoupdate shadowsocks
  playbooks/roles/common/templates/50unattended-upgrades.j2
Labels: area/shadowsocks, kind/security

#1253 CI: Explicitly connect LXD snap plugs.
  tests/development-setup.yml
Labels: kind/bug, kind/tests

#1242 Install ocserv from universe repository
  playbooks/roles/openconnect/tasks/firewall.yml
  playbooks/roles/openconnect/tasks/install.yml
  playbooks/roles/openconnect/tasks/main.yml
  playbooks/roles/openconnect/templates/config.j2
  playbooks/roles/openconnect/templates/instructions-fr.md.j2
  playbooks/roles/openconnect/templates/instructions.md.j2
  playbooks/roles/openconnect/templates/ocserv-init.j2
  playbooks/roles/openconnect/templates/ocserv-iptables.service.j2
  playbooks/roles/openconnect/templates/ocserv.service.j2
  playbooks/roles/openconnect/templates/streisand-openconnect-service.sh.j2
  playbooks/roles/openconnect/vars/main.yml
Labels: area/openconnect, kind/update

#1248 Convert OpenVPN/stunnel to use systemd unit files
  playbooks/roles/monit/templates/monitrc.j2
  playbooks/roles/openvpn/handlers/main.yml
  playbooks/roles/openvpn/tasks/firewall.yml
  playbooks/roles/openvpn/tasks/main.yml
  playbooks/roles/openvpn/templates/openvpn-iptables.service.j2
  playbooks/roles/openvpn/templates/openvpn.service.j2
  playbooks/roles/openvpn/templates/streisand-openvpn-service.sh.j2
  playbooks/roles/openvpn/templates/stunnel-instructions.md.j2
  playbooks/roles/openvpn/vars/main.yml
  playbooks/roles/stunnel/handlers/main.yml
  playbooks/roles/stunnel/tasks/main.yml
  playbooks/roles/stunnel/templates/stunnel.service.j2
Labels: area/openvpn, area/stunnel, kind/cleanup, kind/update

#1266 Remove libreswan
  .travis.yml
  README-chs.md
  README-fr.md
  README-ru.md
  README.md
  global_vars/default-site.yml
  global_vars/integration/test-site.yml
  global_vars/noninteractive/amazon-site.yml
  global_vars/noninteractive/azure-site.yml
  global_vars/noninteractive/digitalocean-site.yml
  global_vars/noninteractive/google-site.yml
  global_vars/noninteractive/linode-site.yml
  global_vars/noninteractive/local-site.yml
  global_vars/noninteractive/rackspace-site.yml
  playbooks/amazon.yml
  playbooks/azure.yml
  playbooks/customize.yml
  playbooks/google.yml
  playbooks/roles/azure-security-group/tasks/main.yml
  playbooks/roles/diagnostics/templates/streisand-diagnostics.md.j2
  playbooks/roles/ec2-security-group/tasks/main.yml
  playbooks/roles/gce-network/tasks/main.yml
  playbooks/roles/gpg/files/B30FC6F9.team@libreswan.org.asc
  playbooks/roles/gpg/vars/main.yml
  playbooks/roles/l2tp-ipsec/defaults/main.yml
  playbooks/roles/l2tp-ipsec/files/40-ipsec.rsyslog.conf
  playbooks/roles/l2tp-ipsec/files/generate-certificate-database.sh
  playbooks/roles/l2tp-ipsec/files/l2tp-secrets
  playbooks/roles/l2tp-ipsec/handlers/main.yml
  playbooks/roles/l2tp-ipsec/meta/main.yml
  playbooks/roles/l2tp-ipsec/tasks/docs.yml
  playbooks/roles/l2tp-ipsec/tasks/firewall.yml
  playbooks/roles/l2tp-ipsec/tasks/main.yml
  playbooks/roles/l2tp-ipsec/templates/chap-secrets.j2
  playbooks/roles/l2tp-ipsec/templates/instructions-fr.md.j2
  playbooks/roles/l2tp-ipsec/templates/instructions.md.j2
  playbooks/roles/l2tp-ipsec/templates/ipsec.conf.j2
  playbooks/roles/l2tp-ipsec/templates/ipsec.secrets.j2
  playbooks/roles/l2tp-ipsec/templates/options.xl2tpd.j2
  playbooks/roles/l2tp-ipsec/templates/streisand-l2tp-iptables.service.j2
  playbooks/roles/l2tp-ipsec/templates/streisand.mobileconfig.j2
  playbooks/roles/l2tp-ipsec/templates/xl2tpd.conf.j2
  playbooks/roles/l2tp-ipsec/vars/main.yml
  playbooks/roles/streisand-gateway/templates/firewall-fr.md.j2
  playbooks/roles/streisand-gateway/templates/firewall.md.j2
  playbooks/roles/streisand-gateway/templates/index-fr.md.j2
  playbooks/roles/streisand-gateway/templates/index.md.j2
  playbooks/roles/validation/tasks/main.yml
  playbooks/streisand.yml
  tests/development-setup.yml
  tests/group_vars/all/all
  tests/libreswan-setup.yml
  tests/site_vars/l2tp.yml
  tests/site_vars/openconnect.yml
  tests/site_vars/openvpn.yml
  tests/site_vars/random.yml
  tests/site_vars/shadowsocks.yml
  tests/site_vars/ssh.yml
  tests/syntax-check.yml
Labels: area/IPsec, area/l2tp, status/group-decision-needed

#1277 Always customize installation
  playbooks/customize.yml
  streisand
Labels: area/provisioning

#1268 Refactor internationalized document generation
  playbooks/roles/common/tasks/main.yml
  playbooks/roles/common/templates/languages.md.j2
  playbooks/roles/common/vars/main.yml
  playbooks/roles/i18n-docs/defaults/main.yml
  playbooks/roles/i18n-docs/tasks/main.yml
  playbooks/roles/i18n-docs/templates/languages.md.j2
  playbooks/roles/openconnect/tasks/docs.yml
  playbooks/roles/openconnect/tasks/mirror.yml
  playbooks/roles/openconnect/templates/instructions-fr.md.j2
  playbooks/roles/openconnect/templates/instructions.md.j2
  playbooks/roles/openconnect/templates/mirror-fr.md.j2
  playbooks/roles/openconnect/templates/mirror.md.j2
  playbooks/roles/openvpn/tasks/docs.yml
  playbooks/roles/openvpn/tasks/mirror.yml
  playbooks/roles/openvpn/templates/instructions-fr.md.j2
  playbooks/roles/openvpn/templates/instructions.md.j2
  playbooks/roles/openvpn/templates/mirror-fr.md.j2
  playbooks/roles/openvpn/templates/mirror.md.j2
  playbooks/roles/openvpn/templates/stunnel-instructions-fr.md.j2
  playbooks/roles/openvpn/templates/stunnel-instructions.md.j2
  playbooks/roles/shadowsocks/tasks/docs.yml
  playbooks/roles/shadowsocks/tasks/mirror.yml
  playbooks/roles/shadowsocks/templates/instructions-fr.md.j2
  playbooks/roles/shadowsocks/templates/instructions.md.j2
  playbooks/roles/shadowsocks/templates/mirror-fr.md.j2
  playbooks/roles/shadowsocks/templates/mirror.md.j2
  playbooks/roles/ssh-forward/tasks/docs.yml
  playbooks/roles/ssh-forward/tasks/mirror.yml
  playbooks/roles/ssh-forward/templates/instructions-fr.md.j2
  playbooks/roles/ssh-forward/templates/instructions.md.j2
  playbooks/roles/ssh-forward/templates/mirror-fr.md.j2
  playbooks/roles/ssh-forward/templates/mirror.md.j2
  playbooks/roles/streisand-gateway/tasks/docs.yml
  playbooks/roles/streisand-gateway/tasks/fetch-and-cleanup.yml
  playbooks/roles/streisand-gateway/tasks/main.yml
  playbooks/roles/streisand-gateway/templates/firewall-fr.md.j2
  playbooks/roles/streisand-gateway/templates/firewall.md.j2
  playbooks/roles/streisand-gateway/templates/index-fr.md.j2
  playbooks/roles/streisand-gateway/templates/index.md.j2
  playbooks/roles/streisand-gateway/templates/instructions-fr.md.j2
  playbooks/roles/streisand-gateway/templates/instructions.md.j2
  playbooks/roles/streisand-gateway/vars/main.yml
  playbooks/roles/streisand-mirror/tasks/main.yml
  playbooks/roles/stunnel/tasks/mirror.yml
  playbooks/roles/stunnel/templates/mirror-fr.md.j2
  playbooks/roles/stunnel/templates/mirror.md.j2
  playbooks/roles/tor-bridge/tasks/docs.yml
  playbooks/roles/tor-bridge/tasks/mirror.yml
  playbooks/roles/tor-bridge/templates/instructions-fr.md.j2
  playbooks/roles/tor-bridge/templates/instructions.md.j2
  playbooks/roles/tor-bridge/templates/mirror-fr.md.j2
  playbooks/roles/tor-bridge/templates/mirror.md.j2
  playbooks/roles/wireguard/tasks/docs.yml
  playbooks/roles/wireguard/templates/instructions-fr.md.j2
  playbooks/roles/wireguard/templates/instructions.md.j2
  tests/syntax-check.yml
Labels: kind/cleanup, kind/docs, kind/i18n

#1289 Remove SSH service monitor from monitrc
  playbooks/roles/monit/templates/monitrc.j2
Labels: area/monit, area/ssh, kind/cleanup

#1290 Convert tinyproxy to use systemd unit file
  playbooks/roles/monit/templates/monitrc.j2
  playbooks/roles/tinyproxy/handlers/main.yml
  playbooks/roles/tinyproxy/tasks/main.yml
  playbooks/roles/tinyproxy/templates/tinyproxy.service.j2
Labels: area/monit, area/tinyproxy, kind/cleanup

#1291 Remove sslh monitor from monit
  playbooks/roles/monit/templates/monitrc.j2
  playbooks/roles/sslh/handlers/main.yml
  playbooks/roles/sslh/tasks/main.yml
  playbooks/roles/sslh/templates/sslh.cfg.j2
  playbooks/roles/sslh/templates/sslh.service.j2
  playbooks/roles/sslh/vars/main.yml
Labels: area/monit, area/sslh, kind/cleanup

#1292 Create a drop-in unit for dnsmasq and remove monit completely
  README-chs.md
  README-fr.md
  README-ru.md
  README.md
  documentation/SOURCES.md
  playbooks/roles/dnsmasq/handlers/main.yml
  playbooks/roles/dnsmasq/tasks/main.yml
  playbooks/roles/dnsmasq/templates/dnsmasq.service.j2
  playbooks/roles/dnsmasq/vars/main.yml
  playbooks/roles/monit/handlers/main.yml
  playbooks/roles/monit/tasks/main.yml
  playbooks/roles/monit/templates/monitrc.j2
  playbooks/roles/streisand-gateway/templates/vhost.j2
  playbooks/streisand.yml
  tests/syntax-check.yml
Labels: area/dns, area/monit, kind/cleanup

#1297 Ensure that shadowsocks-libev restarts after a reboot
  playbooks/roles/shadowsocks/handlers/main.yml
  playbooks/roles/shadowsocks/tasks/main.yml
  playbooks/roles/shadowsocks/templates/shadowsocks-libev.service.j2
  playbooks/roles/shadowsocks/vars/main.yml
Labels: area/shadowsocks, kind/bug

#1298 WireGuard unattended upgrades
  playbooks/roles/common/templates/50unattended-upgrades.j2
Labels: area/wireguard, kind/security

#1267 Limit TLS ciphersuites
  playbooks/roles/common/vars/main.yml
  playbooks/roles/openconnect/templates/config.j2
  playbooks/roles/openvpn/templates/etc_openvpn_server_common.j2
  playbooks/roles/streisand-gateway/templates/vhost.j2
  playbooks/roles/stunnel/templates/stunnel-remote.conf.j2
Labels: area/gateway, area/openconnect, area/openvpn, area/stunnel, area/tls, kind/security, kind/update, status/revisions-needed

#1311 stunnel: explicitly specify IPv4 localhost in connect.
  playbooks/roles/stunnel/templates/stunnel-remote.conf.j2
Labels: area/stunnel, kind/bug

#1314 GPG: explicitly wait for dirmngr and gpg-agent sockets.
  playbooks/roles/download-and-verify/tasks/main.yml
  playbooks/roles/gpg/tasks/main.yml
  playbooks/roles/gpg/vars/main.yml
Labels: kind/cleanup
