Repository StreisandEffect/streisand, pull requests merged in 2018-02, with the labels that each got.

#1185 Update LibreSwan to v3.23
  playbooks/roles/l2tp-ipsec/vars/main.yml
Labels: area/IPsec, area/l2tp, kind/update

#1187 Update `syntax-check.yml`
  playbooks/roles/certificates/tasks/pkcs.yml
  tests/syntax-check.yml
Labels: kind/cleanup, kind/tests

#1201 Update README to use https
  README-chs.md
  README-fr.md
  README-ru.md
  README.md
Labels: kind/docs, kind/update

#1197 Updated DigitalOcean Size id
  playbooks/roles/genesis-digitalocean/defaults/main.yml
Labels: area/provisioning, kind/cleanup, provider/digital-ocean
