Repository StreisandEffect/streisand, pull requests merged in 2018-05, with the labels that each got.

#1306 Disabled pub key existence checking when provisioning existing server…
  playbooks/roles/validation/defaults/main.yml
  playbooks/roles/validation/tasks/ssh.yml
  streisand
Labels: area/provisioning, area/ssh

#1321 Bump Ansible CI to v2.5.2
  .travis.yml
  playbooks/roles/validation/tasks/ssh.yml
  requirements.txt
  tests/run.yml
  util/ansible_check.sh
Labels: area/ansible, kind/tests, kind/update

#1317 Improved DO Personal Access Token Documentation for #1272
  playbooks/digitalocean.yml
Labels: kind/docs, provider/digital-ocean

#1264 Use ec2_ami_facts instead of deprecated ec2_ami_find. fixes #1229
  playbooks/roles/genesis-amazon/tasks/main.yml
Labels: area/ansible, provider/amazon
