Repository StreisandEffect/streisand, pull requests merged in 2018-08, with the labels that each got.

#1417 WireGuard instructions update
  playbooks/roles/wireguard/templates/instructions-fr.md.j2
Labels: area/wireguard, kind/docs, kind/i18n, kind/update

#1419 Update README-fr
  README-fr.md
Labels: area/stunnel, kind/docs, kind/i18n

#1420 Update OpenVPN instuctions
  playbooks/roles/openvpn/templates/instructions-fr.md.j2
  playbooks/roles/openvpn/templates/instructions.md.j2
Labels: area/openvpn, kind/cleanup, kind/docs, kind/update

#1427 Disable OpenVPN compression
  playbooks/roles/openvpn/templates/client-common.j2
  playbooks/roles/openvpn/templates/etc_openvpn_server_common.j2
  playbooks/roles/openvpn/templates/instructions-fr.md.j2
  playbooks/roles/openvpn/templates/instructions.md.j2
Labels: area/openvpn, kind/security, kind/update

#1404 Explain why there's a 20-client limit in the code
  playbooks/roles/validation/tasks/main.yml
Labels: kind/docs
