Repository StreisandEffect/streisand, pull requests merged in 2018-03, with the labels that each got.

#1194 Updated Readme to include more information about SSH Keys
  README.md
Labels: area/ssh, kind/docs

#1203 Update README-fr
  README-fr.md
Labels: kind/docs, kind/i18n, kind/update

#1205 Clean up pkcs12 locations
  playbooks/roles/certificates/tasks/pkcs.yml
  playbooks/roles/openconnect/tasks/docs.yml
  playbooks/roles/openconnect/tasks/main.yml
Labels: kind/cleanup

#1193 Add OpenVPN tlscrypt support
  playbooks/roles/openvpn/templates/client-common.j2
  playbooks/roles/openvpn/templates/etc_openvpn_server_common.j2
Labels: area/openvpn, kind/security, kind/update

#1219 Convert SSLH to use config file vs cmd line params.
  playbooks/roles/sslh/tasks/main.yml
  playbooks/roles/sslh/templates/sslh.cfg.j2
  playbooks/roles/sslh/templates/sslh.default.j2
  playbooks/roles/sslh/templates/sslh.j2
Labels: area/sslh, kind/cleanup

#1233 sslh: send stdout to null instead of journald
  playbooks/roles/sslh/tasks/main.yml
Labels: area/sslh, kind/privacy

#1232 shadowsocks: install shadowsocks-libev from PPA.
  playbooks/roles/shadowsocks/tasks/main.yml
  playbooks/roles/shadowsocks/vars/main.yml
Labels: area/shadowsocks, kind/cleanup, kind/security

#1235 Mirror OpenConnect macOS client
  playbooks/roles/openconnect/templates/mirror-fr.md.j2
  playbooks/roles/openconnect/templates/mirror.md.j2
  playbooks/roles/openconnect/vars/mirror.yml
Labels: area/openconnect, kind/client

#1211 Add OpenConnect GUI instructions for MacOS
  playbooks/roles/openconnect/templates/instructions-fr.md.j2
  playbooks/roles/openconnect/templates/instructions.md.j2
Labels: area/openconnect, client/macos, kind/docs

#1236 Update OpenVPN fr instructions
  playbooks/roles/openvpn/templates/instructions-fr.md.j2
Labels: area/openvpn, kind/docs, kind/update

#1237 OpenVPN: Configurable keepalives, server config comments.
  playbooks/roles/openvpn/templates/etc_openvpn_server.conf.j2
  playbooks/roles/openvpn/templates/etc_openvpn_server_common.j2
  playbooks/roles/openvpn/templates/etc_openvpn_server_udp.conf.j2
  playbooks/roles/openvpn/vars/main.yml
Labels: area/openvpn, kind/cleanup, kind/docs

#1231 GPG signature verification overhaul. GPG2, HKPS, gpgv2.
  global_vars/vars.yml
  playbooks/group_vars/all
  playbooks/roles/common/vars/main.yml
  playbooks/roles/download-and-verify/tasks/main.yml
  playbooks/roles/gpg/files/2D8330C2.daniel@binaryparadox.net.asc
  playbooks/roles/gpg/files/2F2B01E7.security@openvpn.net.asc
  playbooks/roles/gpg/files/3F7F585B.corban@raunco.co.asc
  playbooks/roles/gpg/files/7F343FA7.nmav@redhat.com.asc
  playbooks/roles/gpg/files/93298290.torbrowser@torproject.org.asc
  playbooks/roles/gpg/files/96865171.nmav@gnutls.org.asc
  playbooks/roles/gpg/files/AF16234E.alimakki@gmail.com.asc
  playbooks/roles/gpg/files/B30FC6F9.team@libreswan.org.asc
  playbooks/roles/gpg/files/B43434E4.putty@projects.tartarus.org.asc
  playbooks/roles/gpg/files/CDF6583E.josh@joshlund.com.asc
  playbooks/roles/gpg/files/DD3AAAA3.Michal.Trojnara@stunnel.org.asc
  playbooks/roles/gpg/files/F67DA905.nop@nop.com.asc
  playbooks/roles/gpg/tasks/main.yml
  playbooks/roles/gpg/templates/dirmngr.conf.j2
  playbooks/roles/gpg/templates/streisand-gpg-refresh.j2
  playbooks/roles/gpg/vars/main.yml
  playbooks/roles/l2tp-ipsec/tasks/main.yml
  playbooks/roles/l2tp-ipsec/vars/main.yml
  playbooks/roles/openconnect/files/ocserv_signing.key
  playbooks/roles/openconnect/tasks/install.yml
  playbooks/roles/openconnect/vars/main.yml
  playbooks/roles/openvpn/files/security_mailing_list.key
  playbooks/roles/openvpn/tasks/mirror.yml
  playbooks/roles/openvpn/vars/mirror.yml
  playbooks/roles/ssh-forward/tasks/mirror.yml
  playbooks/roles/ssh-forward/vars/mirror.yml
  playbooks/roles/stunnel/tasks/mirror.yml
  playbooks/roles/stunnel/vars/mirror.yml
  playbooks/roles/tor-bridge/tasks/mirror-common.yml
  playbooks/roles/tor-bridge/tasks/mirror-download.yml
  playbooks/roles/tor-bridge/tasks/mirror-verify.yml
  playbooks/roles/tor-bridge/tasks/mirror.yml
  playbooks/roles/tor-bridge/vars/mirror-common.yml
  playbooks/roles/tor-bridge/vars/mirror-download.yml
  playbooks/streisand.yml
  tests/libreswan-setup.yml
Labels: area/mirror, kind/cleanup, kind/privacy, kind/security

#1243 Update tunnelblick build to v3.7.5a
  playbooks/roles/openvpn/vars/mirror.yml
Labels: area/mirror, area/openvpn, kind/update

#1245 Update generated FR instructions
  playbooks/roles/l2tp-ipsec/templates/instructions-fr.md.j2
  playbooks/roles/l2tp-ipsec/templates/instructions.md.j2
  playbooks/roles/openconnect/templates/instructions-fr.md.j2
  playbooks/roles/openconnect/templates/instructions.md.j2
  playbooks/roles/openvpn/templates/instructions-fr.md.j2
  playbooks/roles/openvpn/templates/instructions.md.j2
  playbooks/roles/openvpn/templates/stunnel-instructions-fr.md.j2
  playbooks/roles/openvpn/templates/stunnel-instructions.md.j2
  playbooks/roles/shadowsocks/templates/instructions-fr.md.j2
  playbooks/roles/shadowsocks/templates/instructions.md.j2
  playbooks/roles/ssh-forward/templates/instructions-fr.md.j2
  playbooks/roles/ssh-forward/templates/instructions.md.j2
  playbooks/roles/wireguard/templates/instructions-fr.md.j2
  playbooks/roles/wireguard/templates/instructions.md.j2
Labels: kind/docs, kind/update
