Repository StreisandEffect/streisand, pull requests merged in 2019-03, with the labels that each got.

#1520 Split README.md into smaller, easier-to-read pieces
  Advanced installation.md
  Features.md
  Installation.md
  README.md
  Services.md
Labels: kind/docs

#1462 Add a 10.10.10.10 service network
  playbooks/roles/service-net/files/10-service0.netdev
  playbooks/roles/service-net/files/10-service0.network
  playbooks/roles/service-net/files/service-net.conf
  playbooks/roles/service-net/meta/main.yml
  playbooks/roles/service-net/tasks/main.yml
  playbooks/streisand.yml
  tests/syntax-check.yml
Labels: area/dns, kind/network

#1322 Add route command to drop packets to ec2 metadata instance
  playbooks/amazon.yml
  playbooks/ec2-metadata-instance.yml
  playbooks/roles/genesis-amazon/files/aws-metadata-instance.service
Labels: kind/security, provider/amazon, status/needs-testing

#1455 Clear `ANSIBLE_LIBRARY` plus minor doc change
  Installation.md
  streisand
Labels: area/ansible, kind/docs
